
.field-validation-error {
    color: #DB1430;
    font-size: 13px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error,
.has-error input,
.has-error .input-group-addon,
.validation-error {
    border: 1px solid #DB1430 !important;
    background-color: #fee !important;
}

.validation-summary-errors {
    font-weight: bold;
    color: #DB1430;
}

.validation-summary-valid {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

.action-icon {
    padding: 6px 8px;
    border-radius: 2px;
    font-size: 19px;
    cursor: pointer;
}

.btn-custom-lg {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
}

.kt-header {
    background-color: #1e1e2d;
}

.kt-menu__item--active .kt-menu__link-text {
    color: #ffffff !important;
}

.m-l-3 {
    margin-left: 3px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-t-20 {
    margin-top: 20px;
}

.f-s-21 {
    font-size: 21px !important;
}

.f-s-25 {
    font-size: 25px !important;
}

.fc-white {
    color: #ffffff !important;
}

.kt-badge.kt-badge--unified-success {
    color: #fff;
    border-radius: 50% !important;
    background: #ffb822;
    height: 40px !important;
    width: 40px !important;
}

.kt-header__topbar-icon .notification {
    position: absolute;
    top: 0px;
    right: 5px;
    text-align: center;
    padding: 4px 5px;
    line-height: .9;
    background-color: #EE506C;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    border-radius: 50%;
}

.active-red {
    background-color: #DB1430 !important;
    margin-left: 2px !important;
}

    .active-red .kt-menu__link-icon {
        color: #ffffff !important;
    }

    .active-red .kt-menu__link {
        height: 40px;
        background-color: #DB1430 !important;
        color: #fff;
        position: relative;
        width: 200px;
        text-align: center;
        line-height: 40px;
    }

        .active-red .kt-menu__link:after {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            left: 105%;
            top: 0;
            border: 22px dotted transparent;
            border-right: 22px solid #fff;
        }


.btn-olive {
    color: #ffffff;
    background-color: #7E9807;
    border-color: #6E8402;
}

    .btn-olive:hover,
    .btn-olive:focus,
    .btn-olive:active,
    .btn-olive.active,
    .open .dropdown-toggle.btn-olive {
        color: #ffffff;
        background-color: #6E8402;
        border-color: #6E8402;
    }

    .btn-olive:active,
    .btn-olive.active,
    .open .dropdown-toggle.btn-olive {
        background-image: none;
    }

    .btn-olive.disabled,
    .btn-olive[disabled],
    fieldset[disabled] .btn-olive,
    .btn-olive.disabled:hover,
    .btn-olive[disabled]:hover,
    fieldset[disabled] .btn-olive:hover,
    .btn-olive.disabled:focus,
    .btn-olive[disabled]:focus,
    fieldset[disabled] .btn-olive:focus,
    .btn-olive.disabled:active,
    .btn-olive[disabled]:active,
    fieldset[disabled] .btn-olive:active,
    .btn-olive.disabled.active,
    .btn-olive[disabled].active,
    fieldset[disabled] .btn-olive.active {
        background-color: #6E8402;
        border-color: #6E8402;
    }


.link {
    color: #00c0ef;
}

#kt_table_1 tbody tr td:nth-child(2), #kt_table_1 tbody tr td:nth-child(3) {
    color: #00c0ef !important;
    font-weight: 400 !important;
}

.icon-green {
    background-color: #dbf9eb;
}

    .icon-green .fa {
        color: #3fdb92;
    }


.icon-blue {
    background-color: #bad7fc;
}

    .icon-blue .fa {
        color: #5097f4;
    }

.input-search, .input-search:hover, .input-search:focus, .input-search:active {
    border: none !important;
    box-shadow: none !important;
    text-align: right;
    padding-right: 45px;
}

    .input-search + .input-group-addon {
        padding: 10px;
        background-color: #fcf3d9;
        padding-top: 11px;
        padding-bottom: 7px;
        position: absolute;
        right: 0;
        z-index: 999999;
    }

        .input-search + .input-group-addon .fa {
            color: #efc64c;
        }


    .input-search.form-control {
        padding-right: 50px !important;
    }

    .input-search + .kt-input-icon__icon {
        background-color: #fcf3d9;
    }

        .input-search + .kt-input-icon__icon .fa {
            color: #efc64c;
        }

.blockElement {
    width: auto !important;
    border: none !important;
    background-color: transparent !important;
}

.blockOverlay {
    opacity: 0.4 !important;
    border-radius: 1px;
    background-color: transparent !important;
}

.modal.show .modal-dialog {
    top: 70px;
}

.ajs-message {
    background-color: #ffffff;
    color: #000000;
}

.ajs-success, .ajs-error {
    color: #ffffff;
}

.ajs-warning {
    color: #000000;
}

.alertify-notifier.ajs-right {
    right: -30px;
}

.tool-action-button {
    background-color: #f2f3f8 !important;
    height: 38px !important;
    width: 38px !important;
}
